{% extends 'mayoforce/base.html' %}
    <!--Header End-->
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% block content %}

        <div id="page-contents">
          <div class="row">
              <div class="col-md-3"></div>

            <div class="col-md-7">
                <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-color-wand-outline"></i>Change your password</h4>
                  <div class="line"></div>
{#                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>#}
                  <div class="line"></div>
                </div>
                <div class="edit-block">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
                <div class="block-title">

              </div>
                </div>
            </div>

            <div class="col-md-2 static">

              <!--Sticky Timeline Activity Sidebar-->


            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}