{% extends 'base.html' %}
<h1>
    This is the feeds section
</h1>
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

{{ form |crispy}}

    <button type="submit" class="save btn btn-default">Save</button>

</form>
    {% for post in posts %}


    {% endfor %}
    <h1>Posts of Friends</h1>
    {% for feed in posts %}
    <p>{{ feed.author }}</p>
        <p>{{ feed.title }}</p>
        <p>{{ feed.text }}</p>
        <p>{{ feed.created_date }}</p>
    {% endfor %}

<h1>Friends</h1>
     {% for friend in friends %}
    {{ friend }}
    {% endfor %}

{% endblock %}